body{
    margin: 0;
}

.navbar{
    background-color: gray;
    display: flex;
    height: 110px;
    width: 100%;
}

.main{
    background-color: lightgrey;
    height: 500px;
    width: 100%;
}

.footer{
    background-color: aliceblue;
    height: 200px;
}