

body {
    background-color: #F4F4F8;
    
}
.container{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 100vh);
    font-family: 'Nunito', sans-serif;


}

.topHome{
    grid-column: 1/-1;
    text-align: left;
    position: relative;
    top: 200px;
    padding-left: 100pt;
    height: 100vh;
    font-size: x-large;
}

.lower1Home{
    background: tomato;
    background-position-y: top 20pt;
    grid-column: 1/4;
    padding-left: 100pt;
}

.lower2Home{
    font-size: x-large;
    background: #FFE479;
    grid-column: 4/-1;
    padding-left: 50pt;
    padding-right: 100pt;
}

.midHome1{
    background: tomato;
    background-position-y: top 20pt;
    grid-column: 1/4;
    padding-left: 100pt;
}

.midHome2{
    font-size: x-large;
    background: #FFE479;
    grid-column: 4/-1;
    padding-left: 50pt;
    padding-right: 100pt;
}

.bottomHome1{
    background: tomato;
    background-position-y: top 20pt;
    grid-column: 1/4;
    padding-left: 100pt;
}

.bottomHome2{
    font-size: x-large;
    background: #FFE479;
    grid-column: 4/-1;
    padding-left: 50pt;
    padding-right: 100pt;
}