*{
    margin: 0;
    box-sizing: border-box;
    font-size: 0;
}

.navbar{
    width: 100%;
    height: 50pt;
    background: #777;
}

.body{
    width: 100%;
    height: 100pt;
    background: #333333;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;

}
.content{
    background: saddlebrown;
    
}

.first





.footer{
    width: 100%;
    height: 50pt;
    background: #666666;
}
